body {
  margin: 0;
  background-color: aqua;
  text-align: center;
}

header {
  height: 100px;
  width: 100%;
  background-color: #0b0b33;
  margin: 0;
  position: fixed;
  top: 0;
}

main {
  margin-top: 100px;
  height: 500px;
}



