body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
  color: magenta;
  font-family: 'Notable', sans-serif;
}

header {
  height: 100px;
  width: 100%;
  background-color: #0b0b33;
  margin: 0;
  position: fixed;
  top: 0;
}

header a {
  color: white;
  line-height: 100px;
  margin-right: 5%;
  text-decoration: none;
}


header a:hover {
  font-weight: bold;
  color: lightgrey;
}

main {
  height: 900px;
  background: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/cn-vid-set-01-1-1548177289.jpg?crop=1.00xw:1.00xh;0,0&resize=480:*);
  background-size: cover;
  overflow-y: scroll;
}

.input-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 350px 10px 0px 10px;
  margin: 10px 10px 0px 10px;
}

button {
  text-transform: uppercase;
  border: 1px solid black;
  background-color: #c52695;
  padding: 8px;
  margin: 8px; 
  border-radius: 14%;
}

.subtitle {
  font-size: 30px;
}

.jokes {
  padding: 0px 10px 10px 10px;
  margin: 0px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#blank {
  width: 150px;
  height: 25px;
  border-radius: 10px;
  padding-left: 5px;
}


@media (max-width: 600px) {
  
  
  body {
    color: chartreuse;
  }
  main {
    background-position: center;
  }
  header a{
    font-size: 12px;
  }
}

@media (max-width: 500px) {
  header {
    background-color: red;
  }
}




